@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

::selection {
    color: none;
    background: none;
}

/* For Mozilla Firefox */
::-moz-selection {
    color: none;
    background: none;
}


body {
    max-width: 900px;
    overflow-x: hidden;
    font-family: 'Noto Sans KR', sans-serif;
}

textarea:focus {
    outline: none;
}

#odometer {
    color: #dac179;
    font-size: 50px;
    margin-top: 13px;
    padding: 10px 0px;
    font-family: 'Bebas Neue', cursive !important;
    min-width: 150px;
    white-space: nowrap;
    overflow: hidden;


}

.input-1 {
    width: 100%;
    height: 40px;
    background: #040404;
    border: 1px solid #585858;
    display: inline-block;
    border-radius: 0;
    margin-right: 10px;
    font-size: 14px;
    padding: 0 10px;
    color: #999;
    font-weight: 600;
}

.button-1.active {
    background: linear-gradient(to bottom, #e4cd87 0%, #ac8633 100%);
    height: 40px;
    border: 1px solid #dac179;
    font-weight: bold;
    color: #000000;

    font-size: 14px;
}

.button-1 {
    background: #000000;
    border: 1px solid #404040;
    color: #fff;
}

.odometer-value {
    background: -webkit-linear-gradient(#ede7b0, #cfac43, #2c2207);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

body::-webkit-scrollbar {
    display: none;
}

.container {
    max-width: 900px !important;
}


select::-webkit-scrollbar {
    width: 10px;
    background-color: #181818;
}

button,
p,
div {
    -webkit-tap-highlight-color: transparent;
}

button:active {
    opacity: 0.9;
    transform: scale(0.9);
    transition: 0.5s all;
}

button:focus {
    outline: none;
}

input:focus {
    outline: none;
}

select:focus {
    outline: none;
}


.banner {
    background: linear-gradient(0deg, rgba(19, 19, 19, 1), rgba(100, 98, 99, 0.1), #131313), url('../new_images/banner/1.png') center no-repeat;
    background-size: 100%;
    min-height: 384px;
    width: 100%;
    top: 0;
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.logo {
    position: absolute;
    width: 100%;
    top: 0;
    text-align: center;
    z-index: 1;
}

.logo img {
    width: 150px;
    margin: auto;
}

.navigation-button {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background: #181818;
}

.navigation-button button {
    height: 40px;
    width: calc(50% - 5px);
    font-weight: 600;
}

.navigation-button .signin {
    background: linear-gradient(to bottom, #e4cd87 0%, #ac8633 100%);
    border: 1px solid #dac1;
    color: #000;
}

.navigation-button .signup {
    background: #000000;
    border: 1px solid #404040;
    color: #fff;
}

.game-detail {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 70%;
    left: 50%;
    width: 100%;
    text-align: center;
}


.game-detail h5 {
    text-align: center;
    font-weight: bold;
    color: #FFFFFF;
    margin-bottom: 5px;
}

.game-button {
    background: linear-gradient(to bottom, #e4cd87 0%, #ac8633 100%);
    height: 40px;
    border: 1px solid #dac179;
    font-weight: bold;
    color: #000000;
    width: 120px;
    font-size: 14px;
}

.jackpot-container {
    background: url('../images/mobile-jackpot.jpg');
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
}

.jackpot-container img {
    width: 50px;
}

.transaction-box {
    margin-top: 10px;
    background: url('../images/transaction.jpg') top center no-repeat;
    background-size: cover;
    min-height: 620px;
}

.transaction-header {
    display: flex;
    justify-content: space-between;
    padding: 30px 10px 10px;
    position: relative;
    text-align: center;
    color: #fff;
}

.transaction-header .icon {
    position: absolute;
    top: -13px;
    left: 5px;
    width: 60px;
    height: 60px;
    z-index: 1;
}

.transaction-header .btn-wrap {
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 20px;
}

label.title {
    width: 100%;
    overflow: hidden;
    display: block;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    font-size: 13px;
    font-weight: 300;
}

.date {
    width: 100%;
    overflow: hidden;
    display: block;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    font-size: 13px;
    font-weight: 300;
}

label.title:hover {
    color: #dac179;
}


.mobile-navigation {
    background: #100b01;
    border-top: 1px solid #ffe43d;
}

.footer .grid img {
    height: 40px;
    margin-bottom: 5px;
    margin: auto;
}

.sms {
    font-weight: 700;
    border-radius: 0;
    padding: 0;

    width: 100px;
    line-height: 35px;
    background: #cc001b;
    border: 1px solid #c1001a;
    color: #ffffff;
}


.sms:hover {
    background: #e1ca84;
    background: -moz-linear-gradient(top, #e1ca84 0%, #ac8734 100%);
    background: -webkit-linear-gradient(top, #e1ca84 0%, #ac8734 100%);
    background: linear-gradient(to bottom, #e1ca84 0%, #ac8734 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e1ca84', endColorstr='#ac8734', GradientType=0);
    border: 1px solid #e1ca84;
    color: #000;
}



.guess-container {
    display: block;
}

.member-container {
    display: none;
}


.content_dialog_page {
    text-align: center;
    color: #fff;
}

.content_dialog_page ul {
    display: flex;
    align-items: center;
    justify-content: center;
}


.content_dialog_page li {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 12px;
    border: 1px solid #333
}

.content_dialog_page li.active {
    background: #ad8734;
    border: 1px solid #ad8734
}

.elip {
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;
}


/* NEW CSS */
.one-notice {
    color: #b5b5b5;
    font-size: 12px;
    padding: 0 10px;
    background: #221c14;
    font-weight: 600;
}

.one-notice .notice-cont {
    overflow: hidden;
}

.one-notice .notice {
    width: 30px;
    line-height: 39px;
    display: inline-block;
    color: #fff;
    vertical-align: middle;
    font-size: 12px;
    text-align: center;
}

.one-notice .notice img {
    position: relative;
    top: 2px;
}

.one-notice marquee {
    width: calc(100% - 35px);
    display: inline-block;
    vertical-align: middle;
    color: #fff;
    font-size: 12px;
    z-index: 0;
}


.sidebar {
    left: -100%;
    transition: all 0.2s;
}

.account-bar {
    right: -100%;
    transition: all 0.2s;
}


.app-tabs {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
    cursor: pointer;
}

.app-tabs .app-child-tabs.active {
    width: 100%;
    color: #fff;
    background: linear-gradient(#f5b436, #221c14);
}

.app-tabs .app-child-tabs:hover {
    background: linear-gradient(#f5b436, #221c14);
    color: #fff;
}


.app-tabs .app-child-tabs {
    text-align: center;
    font-weight: 600;
    width: 100%;
    position: relative;
    display: block;
    height: 40px;
    font-size: 13px;
    color: #222;
    line-height: 40px;
    background: linear-gradient(#fff, #dadbdc);
}



.app-lists-slide {
    width: 100%;
    overflow-y: hidden;
    overflow-x: scroll;
    margin: 5px 0px;
    background: #221c14;
}

.app-lists-slide ul {
    white-space: nowrap;
}

.app-lists-slide li {
    display: inline-block;

    max-width: 100px;
    text-align: center;
    padding: 10px 20px;
    color: #fff;
    border-right: 1px solid #99680627;
    font-weight: 600;
    font-size: 14px;
    margin: 0;
}

.app-lists-slide li.active {
    color: #ffd989;
}